<div>
  <h2 id="page-heading" data-cy="BarsHeading">
    <span jhiTranslate="hospitalityprojectApp.bars.home.title">Bars</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hospitalityprojectApp.bars.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bars"
        [routerLink]="['/bars/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hospitalityprojectApp.bars.home.createLabel"> Create a new Bars </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bars?.length === 0">
    <span jhiTranslate="hospitalityprojectApp.bars.home.notFound">No bars found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bars && bars.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="hospitalityprojectApp.bars.date">Date</span></th>
          <th scope="col"><span jhiTranslate="hospitalityprojectApp.bars.publish">Publish</span></th>
          <th scope="col"><span jhiTranslate="hospitalityprojectApp.bars.contentPosition">Content Position</span></th>
          <th scope="col"><span jhiTranslate="hospitalityprojectApp.bars.imagePosition">Image Position</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bars of bars; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bars', bars.id, 'view']">{{ bars.id }}</a>
          </td>
          <td>{{ bars.date | formatMediumDatetime }}</td>
          <td>{{ bars.publish }}</td>
          <td jhiTranslate="{{ 'hospitalityprojectApp.Position.' + bars.contentPosition }}">{{ bars.contentPosition }}</td>
          <td jhiTranslate="{{ 'hospitalityprojectApp.Position.' + bars.imagePosition }}">{{ bars.imagePosition }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/bars', bars.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/bars', bars.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bars)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
