<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="meeting">
      <h2 data-cy="meetingDetailsHeading"><span jhiTranslate="hospitalityprojectApp.meeting.detail.title">Meeting</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ meeting.id }}</span>
        </dd>
        <dt><span jhiTranslate="hospitalityprojectApp.meeting.date">Date</span></dt>
        <dd>
          <span>{{ meeting.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="hospitalityprojectApp.meeting.publish">Publish</span></dt>
        <dd>
          <span>{{ meeting.publish }}</span>
        </dd>
        <dt><span jhiTranslate="hospitalityprojectApp.meeting.contentPosition">Content Position</span></dt>
        <dd>
          <span jhiTranslate="{{ 'hospitalityprojectApp.Position.' + meeting.contentPosition }}">{{ meeting.contentPosition }}</span>
        </dd>
        <dt><span jhiTranslate="hospitalityprojectApp.meeting.imagePosition">Image Position</span></dt>
        <dd>
          <span jhiTranslate="{{ 'hospitalityprojectApp.Position.' + meeting.imagePosition }}">{{ meeting.imagePosition }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/meeting', meeting.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
